BlackFire.Unity.Demo/Library/
BlackFire.Unity.Demo/Temp/
BlackFire.Unity.Demo/ProjectSettings/
BlackFire.Unity.Demo/Packages/
BlackFire.Unity.Demo/.idea/
BlackFire.Unity.Demo/Assets/Plugins/Editor/JetBrains/
BlackFire.Unity.Demo/Assets/Plugins/Editor/JetBrains.meta
BlackFire.Unity.Demo/Assets/Plugins/Editor.meta
